
/*
    GENERAL STYLE
*/
:root{
    --dark: #292929;
    --white: #fff;
    --default-font: "Open Sans", Helvetica, Arial, sans-serif;
}
body{
    margin: 0;
    font-family: var(--default-font);
    color: #777;
}
ul{
    list-style: none;
}

._h2{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 24px;
}

._h3{
    font-size: 20px;
    margin-bottom: 24px;
}
/*section*/
._section{
    padding: 80px 0;
}
/*width and height*/
._w-100{
    width: 100%;
}
/*margin and padding*/
._m-0{
    margin: 0;
}
._mt-0{
    margin-top: 0;
}
._pl-0{
    padding-left: 0;
}

._mb-40{
    margin-bottom: 40px;
}
/*display*/
._d-block{
    display: block;
}
._d-flex{
    display: flex;
}

._flex-column{
    flex-direction: column;
}

._justify-content-between{
    justify-content: space-between;
}
._justify-content-center{
    justify-content: center;
}
._align-items-center{
    align-items: center;
}
/*background*/
._bg-dark{
    background-color: var(--dark);
}

._bg-light{
    background: var(--white);
}

/*disposition*/
._index-0{
    z-index: 0;
}
._index-1{
    z-index: 1;
}
._index-2{
    z-index: 2;
}
/*text*/
._lh-28{
    line-height: 28px;
}
._text-center{
    text-align: center;
}
._text-white{
    color: var(--white);
}

._text-uppercase{
    text-transform: uppercase;
}
._font-weight-bold{
    font-weight: 600;
}
._font-weight-light{
    font-weight: 400;
}

._font-size-normal{
    font-size: 16px;
}

/*btn*/
._btn{
    font-size: 10px;
    padding: 12px 40px;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .3s ease;
}

._btn-outline-light{
    border: 2px solid var(--white);
    color: var(--white);
}
._btn-outline-light:hover{
    background: var(--white);
    color: var(--dark);
}

._btn-light{
    border: 2px solid var(--white);
    background: var(--white);
    color: var(--dark);
    transition: all .3s ease;
}

._btn-light:hover{
    opacity: .9;
}
/*
    COMPONENT STYLE
    1. navbar
    2. banner
    3. About
*/
._navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
}

._navbar-absolute-top{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
._navbar-brand{
    height: 55px;
    display: flex;
    align-items: center;
}
._navbar-brand img{
    height: 60%;
    max-width: 100%;
}



._nav-item{
    padding: 0 16px;
    line-height: 24px;
}

._nav-link{
    text-decoration: none;
    opacity: 0.7;
    transition: all .3s ease;
    font-weight: 300;
    letter-spacing: 1px;
}

._nav-item:hover ._nav-link{
    opacity: 1;
}


._toggler-button{
    font-size: 28px;
    cursor: pointer;
}
._toggler-button,
._toggler-button{
    opacity: 0.7;
    transition: all 0.3s ease;
}
._toggler-button:hover,
._toggler-button:hover{
    opacity: 1;
}

._bg-dark .logo-dark, ._transparent-dark .logo-dark{
    display:none;
}
._bg-light .logo-white{
    display: none;
}
._navbar-menu{
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 0;
}
._bg-dark ._nav-link, ._transparent-dark ._nav-link{
    color: var(--white);
}
._bg-light ._nav-link{
    color: var(--dark);
}
._bg-dark ._toggler-button, ._transparent-dark ._toggler-button{
    color: var(--white);

}
._bg-light ._toggler-button{
    color: var(--dark);
}
/*end navbar*/
._banner, .splide__list{
    height: 100vh;
    width: 100%;
}

._banner .splide__slide{
    background-position: center!important;
    background-size: cover!important;
}
.splide__slide::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--dark);
    opacity: 0.25;
    z-index: 0;
}
._banner .splide__arrow{
    background: none;
    color: var(--white);
    width: auto;
    height: auto;
}
._banner .splide__arrow--prev{
    left: 0;
    opacity: 0;
    transition: all .3s ease-in;
}

._banner .splide__arrow--next{
    right: 0;
    opacity: 0;
    transition: all .3s ease-in;
}

._banner:hover .splide__arrow--prev, ._banner:hover .splide__arrow--next{
    opacity: 1;
}
._banner [class*="ic-"]{
    font-size: 62px;
    font-weight: 500;
}

.splige__pagination__page:not(.is-active){
    width: 6px;
    height: 6px;
    border: 0!important;
}

.splide__pagination__page.is-active{
    width: 10px;
    height: 10px;
    background: none;
    border: 2px solid var(--white);
}
/*end banner*/
._section-layout{
    max-width: 90%;
}
._section-title{
    color: #444444;
}
._section-title b{
    color: var(--dark);
}