._container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 768px) {
    ._container {
        width: 750px
    }
}

@media (min-width: 992px) {
    ._container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    ._container {
        width: 1170px
    }
}
/*
    1. navbar
    2. banner
*/
@media (max-width: 991px){
    ._show._transparent-dark._navbar{
        background: var(--white);
    }

    ._show._transparent-dark .logo-dark{
        display: block;
    }
    ._show._transparent-dark .logo-white{
        display: none;
    }
    ._show._transparent-dark ._nav-link, ._show._transparent-dark ._toggler-button{
        color: var(--dark);
    }
    ._navbar-menu{
        display: none;
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        padding: 16px 0;
        width: 100%;
    }
    ._show._navbar{
         flex-direction: column;
         align-items: flex-start;
     }
    ._show ._navbar-menu{
        display: block;
    }
    ._show ._nav-item{
        padding: 0;
        line-height: 24px;
        padding: 4px 0;
    }
    ._toggler-button{
        display: block;
    }
}
@media (min-width: 992px){
    ._toggler-button{
        display: none;
    }
}
/*end navbar*/
@media (min-width: 0px) and (max-width: 767px){
    ._banner .splide__slide--layout{
        width: 90%;
    }
}

@media(max-width: 991px){
    ._banner, .splide__list{
        height: 80vh;
    }

    .splide__slide--layout{
        width: 80%;
    }
}

@media (min-width: 992px){
    ._banner .splide__slide--layout{
        width: 83.3333%;
    }
}